
{% extends 'base.html' %}
{% block content %}



<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
                        
            {{user}}


            <img src="/static/{{user.avatar}}" style="width: 80px;">


            <h2>Dashboard</h2>

            
            {%for session in hosted_sessions%}
            <a href="/quiz/start/casual/{{session.session_code}}">Hosted : {{session.session_code}}Start Q</a>
            
            {%endfor%}
            {%for session in participated_sessions%}
            <br>
            <a href="/quiz/start/casual/{{session.session_code}}">participated_session : {{session.session_code}}Start Q</a>
            {%endfor%}
            
        </div>
    </div>
</div>


{% endblock %}